{% extends 'base/base.html' %}

{% block title %}
    {{recipe_object.title}} - Scruptious Recipes
{% endblock title %}

{% block content %}


{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <style>


            a:link, a:visited{
            color: white;
            text-align:center;
            text-decoration: none;
            }
            a:hover, a:active{color:green;}
        </style>
    </head>

    <body>
        <header>
            <nav>
                <a href = "{% url 'recipe_list' %}">| Main Page |</a>
                <a href = "{% url 'recipe_edit' recipe_object.id %}">| Edit |</a>
                {% comment %}
                the url's above ('recipe_list & recipe_edit') come from
                the urls.py file. For recipe_list, we don't need to define anything
                further, becuase there's only one recipe_list url path. However, for
                recipe_edit, there's multiple pages that this could desplay, so we must
                further define which recipe page, by using "recipe_object.id". This
                tells the link to go to the edit page of the id that corresponds with
                that recipe_object.
                {% endcomment %}
            </nav>
        </header>
        <main>
            <h1 id="veg-taco-header">{{recipe_object.title}}</h1>
            <br>
            <br>
            <img class="img-style2" src ={{recipe_object.picture}}>
            <div id="reciperating">4.3 stars</div>
            <p> {{ recipe_object.description }}
            <br>
            <br>
            <h2 class="subheader-style">Ingredients</h2>

        <div>
            <table>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

            <br>
            <h2 class="subheader-style">Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
        </main>

    {% endblock content %}
    </body>



</html>