{% extends 'base/base.html' %}

{% block title %}
    {{recipe_object.title}} - Scruptious Recipes
{% endblock title %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <style>


            a:link, a:visited{
            color: white;
            text-align:center;
            text-decoration: none;
            }
            a:hover, a:active{color:green;}
        </style>
    </head>

    <body>
        <header>
            <nav>
                <a href = "{% url 'recipe_list' %}">Main Page</a>
            </nav>
        </header>
        <main>
            <h1>Edit {{ recipe_object.title }}</h1>
            <form class="edit_form" method="post">
                {% csrf_token %} {% comment %} security measure that we include in ALL of our forms {% endcomment %}

                <div class ="create-recipe">{{ recipe_form.title }}</div>
                <div class ="create-recipe">{{ recipe_form.picture }}</div>
                <div class ="create-recipe">{{ recipe_form.description }}</div>
                <button>Save</button>
            </form>
        </main>
    {% endblock content %}
    </body>
</html>