{% extends 'base/base.html' %}

{% block title %}
    Scruptious Recipes
{% endblock title %}

{% block content %}

{% load static %}



<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
        <style>

            img{
            border: 10px rgb(222, 22, 22)
            width: 200px;
            height: 200px;
        }
            a:link, a:visited{
            text-decoration: none;
            color: white;
            text-shadow: 2px 2px black;
            text-align:center;
            }
            a:hover, a:active{color:green;}
            a {
                margin-bottom: 15px;
            }
        </style>
    </head>

    <body>
        <header>
            <nav>
                <a href = "{% url 'recipe_list' %}">| Main Page |</a>

                {% if user.is_authenticated %}
                    <a href = "{% url 'create_recipe' %}">| Create a recipe |</a>
                    <a href="{% url 'logout' %}">| Logout |</a>
                    <a href="{% url 'my_recipe_list' %}">| View My Recipes |</a>
                    Hello, {{ user.username }}

                {% else %}
                    <a href="{% url 'signup' %}">| Sign Up |</a>
                    <a href="{% url 'login' %}">| Login |</a>
                {% endif %}
            </nav>
        </header>

        <main>
            <h1>Scrumptious Recipes</h1>
            <h2 class="subheader-style2">All the food that's fit to eat</h2>

            <div class="container">
                {% for recipe in recipe_list %}
                <div class="text-align">
                    <h3>
                        <a href = "{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                    <p id="specialp"> {{ recipe.created_on|date:"M d, Y" }} </p>
                    <img class="img-style2" src ="{{ recipe.picture }}">
                    <div>4.3 stars</div>
                </div>

                {% endfor %}
            </div>

        </main>
    {% endblock content %}

    </body>


</html>