{% extends 'base/base.html' %}

{% block title %}
Login! - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
</header>

<head>
    <style>

        img{
        border: 10px rgb(222, 22, 22)
        width: 200px;
        height: 200px;
    }
        a:link, a:visited{
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px black;
        text-align:center;
        }
        a:hover, a:active{color:green;}
        a {
            margin-bottom: 15px;
        }
    </style>
</head>

<main>
    <h1>Login!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</main>
{% endblock content %}