@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');


title {
    text-align: center;
}

header {
    background-color: #FF5A33;
    border: 3px solid black;
}

nav {
    border-bottom: 1px rgb(250, 250, 250);
    padding: 16px;

}

main {
    padding: 16px;
}



body {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    /* sans-serif is a backup font */
    background-image: url("images/background-taco.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

H1 {
    margin-bottom: 10px;
    text-shadow: 2px 2px rgb(149, 39, 33);
    background-color: #e4e4e4;
    color: black;
    text-align: center;
    border: 3px solid black;
    padding: 10px;
}

H2 {
    background-color: #e4e4e4;
    color: black;
    text-align: center;
    border: 3px solid black;
    padding: 10px;
}

H3 {
    background-color: #e4e4e4;
    text-align: center;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: green;
}

p {
    background-color: #e4e4e4;
    border: 3px solid grey;
    text-align: center;
    padding: 1px;
    width: 10%;
    color: black
}

ol {
    margin-left: 10px;
    border: rgb(11, 11, 11);
    color: black;
    background-color: #e4e4e4;
    border: 3px solid black;
    width: 25%;
    padding-left: 20px;
}

tr:nth-child(odd):not(:first-child) {
    background-color: green;

}



table {
    border: rgb(11, 11, 11);
    color: black;
    background-color: #e4e4e4;
    border: 3px solid black;
    width: 18%;
    margin-left: 20px;

}


th,
tr,
td {
    border: 2px solid black;
}


footer {
    padding-bottom: 28px;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 0px;
    background-color: #B4CF66;
    color: black;
    font-size: 14px;
    border: 3px solid black;


}


.subheader-style {
    width: 25%;
    background-color: #e4e4e4;
    color: black;
    text-align: center;
    border: 3px solid black;
    padding: 10px;
}

#reciperating {
    text-align: center;
}

#veg-taco-header {
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
    background-color: #e4e4e4;
    color: rgb(30, 130, 45);
    text-align: center;
    border: 3px solid grey;
    padding: 10px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;

}


box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
/* this creates a box shadow */
transition: box-shadow 0.5s;
/* this creates a box shadow that appears within a 1/2 second */

#veg-taco-header:hover {
    box-shadow: 0 2px 4pz 4pz rgba(0, 128, 255, 0.5);
    /* this would create a hover over the title */
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.text-align {
    text-align: center;
    color: black;
    border: 3px solid black;
    padding: 5px;
    background-color: #e4e4e4;
    margin: 10px;
    padding: 5px;

}


.subheader-style2 {
    width: 75%;
    background-color: #e4e4e4;
    color: black;
    text-align: center;
    border: 3px solid black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.fourstar {
    width: 15%;
    background-color: #e4e4e4;
    color: black;
    text-align: center;

}

.img-style {
    border: 3px solid rgba(0, 0, 0, 0.692);
}

.img-style2 {
    border: 3px solid rgba(0, 0, 0, 0.692);
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

#specialp {
    background-color: #e4e4e4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
    border: 2px solid black;
    color: solid black;
}


.create-recipe {
    color: black;
    background-color: #e4e4e4;
    text-align: center;
    padding: 10px;
    border: 30px solid blue;
    height: 400px;

}